  html, body {
      margin: 0px;
      font-size: 16px;
  }

  .symbols {
    width: 200px;
    margin: auto;
    height: 100px;
    border: 1px solid silver;
    text-align: center;
    margin-bottom: 30px;
  }

  .companies {
      max-width: 700px;
      height: 400px;
      margin: auto;
      background: silver;
  }

  .companies .lSSlideOuter,
  .companies .lightSlider,
  .companies .company {
      height: 100% !important;
  }

  .companies .lSSlideWrapper {
    height: calc(100% - 50px);
}