.boxed {
    border: 1px solid green ;
    width:75px;
    height:75px;
    float: left;
    text-align: center
  }

  .symbols{
     float: left;
     width: 300px;
  }

  .companies{
      float: left;
      width: 300px;
  }

  .symbol-container{
    position:fixed;
    top: 50%;
    left: 50%;
    width:100em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
  }

  .selected{
      background-color: brown
  }

  .done{
      background-color: darkolivegreen
  }